#root {
  margin: 0;
}

.health{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.health header{
  min-height: 60px;
}

nav .up{
  margin: 0;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(222, 229, 233);

}
.up .socials, .up .contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.up .contacts p{
  margin: .4rem 1rem;
}
.up .socials p{
  margin: .4rem .7rem;
}
nav .down{
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.down .logo p{
  margin: .7rem;
}
.link-items{
  text-decoration: none;
  color: black;
  margin: 0 1rem;
}
.health main {
  flex: 1;
}

main.body-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
main > div{
  margin: 0 1.7rem;
}
main .center-image{
  margin: 0;
  background-image: url('./assets/react.svg');
  background-size: cover;
  background-repeat: no-repeat;
  flex: 7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.center-image span{
  color: black;
}
a{
  text-decoration: none;
}
a:hover{
  color: var(--color-action);
}
.cta-cards{
  display: flex;
  bottom: 0;
  width: 100%;
}
.nav-action{
  margin-right: 1rem;
}
.feature-cards{
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


button{
  border: none;
  padding: .8rem 4rem;
  background-color: var(--color-action);
  color: white;
  cursor: pointer;
}
.health footer {
  min-height: 35px;
}